<div class="rounded-md bg-white border-gray-600 w-300">
    <label class=" mx-auto text-black">{{country}}</label>
    <img src="" alt="">
    <div>
        <div class="text-lg  text-black font-bold text-center">{{temp}}</div>
        <div class="text-justify text-gray-400">{{weather}}</div>
    </div>
    <div class="flex">
        <div class="col-span-6  text-black mr-5">
            {{tempMin}}
            <div class="text-green-400">Min</div>
        </div>
        <div class="col-span-6  text-black">
            {{tempMax}}
            <div class="text-red-600">Max</div>
        </div>
    </div>
</div>